@import "./setup";
@import "./default";

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  .logoImage {
    width: 15%;
    height: auto;
    margin: 0 auto;
    min-width: 10rem;
  }
  h1 {
    font-family: "Merienda One";
    font-weight: 700;
    font-size: calc(1.6rem + 0.5vw);
    color: #ffffff;
    margin: 2% 0;
    text-shadow: 4px 2px 5px #822167;
  }
}

.addEmployee {
  color: #007782;
  background: transparent;
  border: none;
  box-shadow: 4px 2px 5px #822167;
  margin: 2% 0;
  font-family: "Merienda One";
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 10px;
  padding: 2%;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover,
  :focus {
    box-shadow: 4px 8px 10px #822167;
  }
}

.employeeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/formbg.jpg);
  background-size: cover;
  background-position: center;
  input[type="text"],
  input[type="email"] {
    width: 50%;
    padding: 6px 12px;
    line-height: 1.4;
    color: #007782;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #822167;
    font-family: "Merienda One";
    font-size: calc(1.5rem + 0.5vw);
    margin: 1% 0;
    text-transform: capitalize;
  }
  input[type="email"] {
    text-transform: lowercase;
  }

  .timePicker {
    border: 1px solid #822167;
    font-family: "Merienda One";
    font-size: calc(1.2rem + 0.5vw);
    border-radius: 4px;
    .react-timerange-picker__clear-button { 
      display: none;
    }
  }

  .labelContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;
    label {
      cursor: pointer;
      background: #007782;
      color: #ffffff;
      padding: 1% 2%;
      margin: 1%;
      font-family: "Merienda One";
      border-radius: 10px;
      transition: all 0.2s ease-in;
      box-shadow: 5px -2px 5px #822167;
    }

    input[type="checkbox"] {
      visibility: hidden;
      &:checked + label {
        background: #033a40;
        color: #ffffff;
        box-shadow: 2px 1px 5px #822167;
        font-weight: bolder;
      }
    }
  }
  .submitData {
    color: #007782;
    // background: #007782;
    background: #822167;
    border: none;
    box-shadow: 4px 2px 5px #007782;
    margin: 2% 0;
    font-family: "Merienda One";
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    padding: 0 2%;
  }
}

.mainContainer {
  background: url(../assets/bg2.jpg);
  background-size: cover;
  background-position: center;
  .timeCardsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0;
    .timeCard {
      width: calc((100% / 3) - 4%);
      margin: 2%;
      border: 1px solid #007782;
      padding: 2%;
      box-shadow: 4px 2px 5px #822167;
      font-family: "Merienda One";
      font-size: 1.6rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: all 0.3s ease-in-out;
      .scheduleLogo {
        width: 40%;
        height: auto;
        min-width: 50px;
        text-align: center;
      }
      h3 {
        font-family: "Merienda One";
        font-size: calc(1.5rem + 0.5vw);
        text-transform: capitalize;
        color: #007782;
      }
      .timingStyle {
        font-family: "Merienda One";
        font-size: calc(1.2rem + 0.5vw);
        margin: 2%;
        text-transform: capitalize;
        color: #033a40;
      }
      .allDays {
        margin: 2% auto;
        li {
          font-family: "Merienda One";
          font-size: calc(1.2rem + 0.5vw);
          margin: 2%;
          text-transform: capitalize;
          color: #007782;
        }
      }
      .emailButton {
        color: #ffffff;
        background: rgba(0, 0, 0, 0.4);
        border: none;
        box-shadow: 4px 2px 5px #822167;
        margin: 2% 0;
        font-family: "Merienda One";
        font-size: calc(1.2rem + 0.5vw);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover,:focus{
          background: rgba(0, 0, 0, 0.8);
        }
      }
      .deleteCard {
        color: #ffffff;
        background: rgba(130, 33, 103, 0.4);
        border: none;
        box-shadow: 4px 2px 5px #822167;
        margin: 2% 0;
        font-family: "Merienda One";
        font-size: calc(1.2rem + 0.5vw);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover,:focus{
          background:  rgba(130, 33, 103, 0.8);
        }
      }
      &:hover,
      :focus {
        box-shadow: 4px 6px 8px #822167;
        border-bottom: 2px solid #ffb100;
        border-right: 2px solid #ffb100;
      }
    }
  }
}

.footerContainer {
  .socialIcons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .socialIcons li {
    margin: auto 10px;
  }

  .socialIcons li a {
    display: inline-block;
    font-size: 3rem;
    width: 100px;
    color: #ffb100;
    transition: all 0.5s ease;
    transform-origin: left;
    transform: rotateY(15deg);
    text-shadow: 10px 0px 5px #808080, 10px 0px 1px #808080, 10px 0px 1px #808080, 10px 0px 1px #808080;
  }

  .socialIcons li a:hover {
    color: #684701;
    transform: rotate(0deg);
    text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
  }
  .copyright{
    font-size: calc(1rem + 0.5vw);
    font-family: "Merienda One";
    color: #ffffff;
    margin: 1% 0;
  }
}

//Mobile media queries
@media (max-width: 480px) {
  .mainContainer {
    .timeCardsArea {
      .timeCard {
        width: calc((100% / 2) - 4%);
        margin: 2%;
      }
    }
  }
}
